
<%= form_for(@todolist) do |f| %>
  <% if @todolist.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@todolist.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @todolist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <%= f.fields_for :items do |builder| %>
      <%= render "item_fields",:f => builder %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
